extends header

block content
  main
    .container
      .content-box
        h2 Texto Original
        p#texto-original #{textoOriginal}

      .content-box
        h2 Texto Cifrado
        p#texto-cifrado #{textoCifrado}

      .content-box
        h2 Clave
        p clave: #{clave}

      .content-box
        h2 Algoritmo
        p algoritmo: #{algoritmo}

      button(type="button" onclick="location.href='/ '") OK!
