extends header

block content
  body
    div.container
      div.content
        div.right-side
          div.topic-text Texto Original
            div.input-box.message-box
              textarea#texto-original(name="texto-original" rows="4" readonly)= textoOriginal

          div.topic-text Texto Cifrado
            div.input-box.message-box
              textarea#texto-cifrado(name="texto-cifrado" rows="4" readonly)= textoCifrado
            button#copy-button(type="button")
                i.fas.fa-copy
                span#copy-status(style="margin-left: 5px; color: green;")

          button(type="button" onclick="location.href='/ '") OK!

      script.
        document.addEventListener('DOMContentLoaded', function() {
          const copyButton = document.getElementById('copy-button');
          const textoCifradoTextarea = document.getElementById('texto-cifrado');

          copyButton.addEventListener('click', function() {
            textoCifradoTextarea.select();
            document.execCommand('copy');
            window.getSelection().removeAllRanges();
            const copyStatus = document.getElementById('copy-status');
            copyStatus.innerHTML = '<i class="fas fa-check-circle"></i>';
            setTimeout(() => {
              copyStatus.innerHTML = '';
            }, 2000);
          });
        });
