extends header

block content
  main
    div.container
      div.content
        div.right-side
          div.topic-text Texto Original
            div.input-box.message-box
              textarea#texto-original= textoOriginal

          div.topic-text Texto Cifrado
            div.input-box.message-box
              textarea#texto-cifrado= textoCifrado

          div.topic-text Clave
            p clave: #{clave}

          div.topic-text Algoritmo
            p algoritmo: #{algoritmo}

          button(type="button" onclick="location.href='/ '") OK!
