include header

body
  div.container
    div.content
      div.right-side
        div.topic-text Cifrado de textos en español
        if !user
          p Cifrado de textos en español. Solo tienes #{3 - formUsageCount} intentos gratuitos. Después de usarlos tendrás que logearte para un acceso ilimitado.
        else
          p ¡Hola #{user.nombre} #{user.apellido_pat} alias #{user.username}! ¿Qué deseas encriptar hoy?
        form(action="/cifrar", method="post")
          div.input-box.message-box
            textarea(placeholder="Texto a cifrar...", required="", name="texto-a-cifrar", id="texto-a-cifrar")
          div.input-box
            input(type="number", name="clave-cifrado", id="clave-cifrado", required="", placeholder="Ingresa la clave de cifrado")
          div.input-box
            select(name="algoritmo", id="")
              option(value="cesar") Código César
              option(value="sustitucion") Sustitución
              option(value="base") Base 64
              option(value="hexa") Hexadecimal
              option(value="binario") Binario
          button(type="submit", id="submit-btn") Convertir
