extends header

block content
  link(rel="stylesheet", href="/css/styles.css")

  main(id="vista-index")
      form(action="/cifrar", method="POST" id="cifrar-form")
        .input-container
          label(for="texto-a-cifrar") Texto a Cifrar:
          input(type="text", id="texto-a-cifrar", name="texto-a-cifrar", placeholder="Ingresa el texto a cifrar", required)

        .input-container
          label(for="clave-cifrado") Clave de Cifrado:
          input(type="text", id="clave-cifrado", name="clave-cifrado", placeholder="Ingresa la clave de cifrado")

        .input-container
          label(for="algoritmo") Algoritmo de Cifrado:
          select(id="algoritmo", name="algoritmo")
            option(value="cesar") Código César
            option(value="sustitucion") Sustitución
            option(value="base") Base64
            option(value="hexa") Hexadecimal
            option(value="binario") Binario

        button(type="submit" id="submit-btn") Convertir
