extends header

block content
  .login-container
    h2 Iniciar Sesi칩n
    form(action="/login", method="POST")
      .form-group
        label(for="username") Usuario:
        input(type="text", id="username", name="username", placeholder="Ingresa tu usuario", required)
      .form-group
        label(for="password") Contrase침a:
        input(type="password", id="password", name="password", placeholder="Ingresa tu contrase침a", required)
      button(type="submit") Iniciar Sesi칩n
    a(href="/registro") Registrarse
