extends header

block content
  div.container
    div.content
      div.right-side
        h2 Iniciar Sesión
        form(action="/login", method="POST")
          div.input-box
            input(type="text", id="username", name="username", placeholder="Ingresa tu usuario", required)
          div.input-box
            input(type="password", id="password", name="password", placeholder="Ingresa tu contraseña", required)
          button(type="submit") Iniciar Sesión
        a(href="/registro", class="registro") Registrarse
