extends header

block content
  link(rel="stylesheet", href="/css/styles.css")

  div.container
    div.content
      div.right-side
        div.topic-text Registro de Usuario
        if error
          div.error-message
            p= error
        p Por favor completa el siguiente formulario para registrarte.
        form(action="/registro", method="POST")
          .input-box.form-group
            input(type="text", id="nombre", name="nombre", placeholder="Ingresa tu nombre", required)
          .input-box.form-group
            input(type="text", id="apellido-paterno", name="apellidoPaterno", placeholder="Ingresa tu apellido paterno", required)
          .input-box.form-group
            input(type="text", id="apellido-materno", name="apellidoMaterno", placeholder="Ingresa tu apellido materno")
          .input-box.form-group
            input(type="text", id="usuario", name="usuario", placeholder="Ingresa tu usuario", required)
          .input-box.form-group
            input(type="email", id="correo", name="correo", placeholder="Ingresa tu correo electrónico", required)
          .input-box.form-group
            input(type="password", id="password", name="contraseña", placeholder="Ingresa tu contraseña", required)
          button.submit-btn(type="submit") Registrarse