body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    text-align: center;
    padding: 20px 0;
    background-color: #333;
    color: #fff;
  }
  
  main {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .input-container {
    margin-bottom: 20px;
  }
  
  .input-container label {
    display: block;
    margin-bottom: 5px;
  }
  
  .input-container input[type="text"],
  .input-container select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .output-container {
    margin-top: 20px;
  }
  
  .output-container label {
    display: block;
    margin-bottom: 5px;
  }
  
  .output-container input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }

  /* Estilos base */

/* Media query para dispositivos con un ancho máximo de 600px */
@media screen and (max-width: 600px) {
    main {
      padding: 10px;
    }
  
    .input-container input[type="text"],
    .input-container select {
      padding: 8px;
    }
  
    button {
      padding: 8px;
    }
  
    .output-container input[type="text"] {
      padding: 8px;
    }
  }
  